<!--dialog class="bookingDialog" #bookingDialog>
    <div class="bookingDialogContainer">
        <h5>Save Booking</h5>
        <ul>
            <li>You can book only available slots.</li>
            <li>You can't override someone else's booking</li>
            <li>You can't book when member is Absent or has Public holidays.</li>
        </ul>

        <div class="confirmation-actions">
            <button type="button" class="button btn btn-secondary" (click)="onBookingDialogCancel()">Cancel</button>
            <button type="button" class="button btn btn-primary" (click)="onBookingSave()">Save</button>
        </div>
    </div>
</dialog-->

<app-user-viewing-box (selectedUserOutput)="onSelectedUserEventListener($event)"></app-user-viewing-box>

<app-scheduler-settings [selectedUser]="selectedUser"
                        (schedulerSettingsOutput)="onSchedulerSettingsEventListener($event)"
                        (selectedMyPodEntityIdOutput)="onSelectedMyPodEntityIdEventListener($event)"
></app-scheduler-settings>

<div style='display:flex'>

    <div class="card" style="width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">My Pods</h5>
            <p class="card-text"></p>

            @for (pod of pods; track pod) {
                <div style="display:flex;">
                    <div class="cell day weekDay" style="margin-right: 10px">
                        <div style='height:100%;width:100%;'
                             class='{{pod.podStyleClass}}'
                             title='{{pod.podName}}'></div>
                    </div>
                    <div style="margin-right: 10px">{{ pod.podShortName }}</div>
                    @if (pod.podName === selectedPodToAssign?.podName) {
                        <div style="font-style: italic; font-size: 9px">selected</div>
                    }

                </div>
            }
        </div>
    </div>
</div>

<!--div style="display:flex;justify-content: center;font-size: 20px;">{{ currentPodToView.podName }} Pod</div-->
<div style="display:flex;justify-content: center;font-size: 20px;">{{ mySelectedPodEntityId?.uuid }} Pod</div>

<table class="scheduler">
    <div style='display:flex'>
        <div class='cell' style='width:180px;flex-shrink:0;'></div>
        @for (monthHeaderDto of schedulerHeader.monthHeaders; track monthHeaderDto.monthAsString) {
            <div class='cell monthHeader'
                 [style]="'width:'+monthHeaderDto.noOfDays*20+'px'">{{ monthHeaderDto.monthAsString }}
            </div>
        }
    </div>
    <div style='display:flex'>
        <div class='cell' style='width:180px;flex-shrink:0;'></div>

        @for (weekHeaderDto of schedulerHeader.weekHeaders; track weekHeaderDto.weekNumber) {
            <div class='cell weekHeader' [style]="'width:'+weekHeaderDto.noOfDays*20+'px'">
                cw{{ weekHeaderDto.weekNumber }}
            </div>
        }

    </div>
    <div style='display:flex'>
        <div class='cell' style='width:180px;flex-shrink:0;'></div>
        @for (dayHeaderDto of schedulerHeader.dayHeaders; track $index) {
            <div class='cell dayHeader'>{{ dayHeaderDto.day | date: 'd' }}</div>
        }
    </div>

    <div (mouseleave)="destroyPodAllocationCreateRequest()">
    @for (userAssignment of userAssignments; track userAssignment) {
        <div class='employeeRow' >
            <div class='cell employeeName'>pic: {{ userAssignment.user.name }}
                ({{ JSON.stringify(userAssignment.podMemberRole) }})
            </div>

            @for (podAssignment of userAssignment.podAssignments; track podAssignment) {
                <div class='cell day '
                     [class]="{weekEnd: DateUtils.isWeekend(podAssignment.day), weekDay: !DateUtils.isWeekend(podAssignment.day) }"
                     >

                <div style='height:100%;width:50%;'
                         class='daypart morning {{podAssignment.morning.pod?.podStyleClass}} {{podAssignment.morning.availabilityType}}'
                         title='{{podAssignment.morning.pod?.podName}} {{podAssignment.morning.availabilityType}}'

                         (mousedown)="onDragStart($event, userAssignment, userAssignment.user, TimeSlot.MORNING, podAssignment.morning, podAssignment.morning.pod, podAssignment.day)"
                         (mouseup)="onDragEnd($event, userAssignment, userAssignment.user, TimeSlot.MORNING, podAssignment.morning, podAssignment.morning.pod, podAssignment.day)"
                         (mouseover)="onWhileDragging($event, userAssignment, userAssignment.user, TimeSlot.MORNING, podAssignment.morning, podAssignment.morning.pod, podAssignment.day)"
                    >

                    </div>
                    <div style='height:100%;width:50%;'
                         class='daypart afternoon {{podAssignment.afternoon.pod?.podStyleClass}} {{podAssignment.afternoon.availabilityType}}'
                         title='{{podAssignment.afternoon.pod?.podName}} {{podAssignment.afternoon.availabilityType}}'

                         (mousedown)="onDragStart($event, userAssignment, userAssignment.user, TimeSlot.AFTERNOON, podAssignment.afternoon, podAssignment.afternoon.pod, podAssignment.day)"
                         (mouseup)="onDragEnd($event, userAssignment, userAssignment.user, TimeSlot.AFTERNOON, podAssignment.afternoon, podAssignment.afternoon.pod, podAssignment.day)"
                         (mouseover)="onWhileDragging($event, userAssignment, userAssignment.user, TimeSlot.AFTERNOON, podAssignment.afternoon, podAssignment.afternoon.pod, podAssignment.day)"
                    >
                    </div>
                </div>
            }
        </div>
    }
    </div>
</table>






