
<div id="viewingUserSelected" style="display:flex;align-items:center;">


    <img [src]="'./assets/users/'+user()?.userKey?.gpin+'.jpg'"
         (error)="defaultAvatar()"
         class="user"
         [alt]="user()?.name" #avatar>
    <div style="position: relative">
        <b>{{ user()?.name }}</b>
        @if (userRole()) {
            <div style="margin-left: 15px" class="position-absolute top-0 start-100 translate-middle badge  bg-success">
                {{userRole()}}</div>
        }
        <BR>
        {{ user()?.userKey?.gpin }}, MDEJ13
    </div>

</div>

