main {
  width: 90%;
  /*max-width: 50rem;*/
  margin: 2.5rem auto;
  //display: grid;
  //grid-auto-flow: row;
  //gap: 2rem;
}

//Reason this applies to full application because ts file has encapsulation: ViewEncapsulation.None.
//If you don't want that then move this class to styles.scss
/*div ul {
  color: chartreuse
}*/

/*div ul li {
  color: whitesmoke;
}*/

/*@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    grid-template-columns: 3fr 3fr;
  }

  #users {
    flex-direction: column;
  }
}*/


