.scheduler {
  font: 10pt Arial, sans-serif;
  min-width: 2100px;
}
.cell {
  border: 1px solid white;
}
.day {
  width: 20px;
  height: 20px;
  display: flex;
}
.dayHeader {
  width: 20px;
  height: 15px;
  display: flex;
  font-size: 10px;
  justify-content: center;
}
.weekHeader {
  //width: 150px;
  height: 15px;
  display: flex;
  font-size: 10px;
  justify-content: center;
}
.monthHeader {
  //width: 600px;
  //height: 15px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  font-weight: bold;
}
.employeeName {
  width: 180px;
  flex-shrink: 0;
}
.weekEnd {
  background-color: gray;
}
.weekDay {
  background-color: silver;
}
.absent {
  background-color: gray;
  background-image: linear-gradient(135deg, #ffffff 4.55%, gray 4.55%, gray 50%, #ffffff 50%, #ffffff 54.55%, gray 54.55%, gray 100%);
  background-size: 5px 5px;
}
.publicHoliday {
  background-color: gray;
}
.available {
  background-color: silver;
}
/*
.unavailable {
  background-color: gray;
  border-left: 1px solid #A43725;
  border-right: 1px solid #A43725;
  background-image: linear-gradient(135deg, #ffffff 4.55%, gray 4.55%, gray 50%, #ffffff 50%, #ffffff 54.55%, gray 54.55%, gray 100%);
  background-size: 5px 5px;
}*/

.podStyleClass1 {
  background-color: #00898D;
  /*border-left: 1px solid #00898D;
  border-right: 1px solid #00898D;*/
}

.podStyleClass2 {
  background-color: #CDD760;
  /*border-left: 1px solid #CDD760;
  border-right: 1px solid #CDD760;*/
}

.podStyleClass3 {
  background-color: #009BD2;
  /*border-left: 1px solid #009BD2;
  border-right: 1px solid #009BD2;*/
}
.available + .unavailable {
  //border-left: 1px solid white;
}
.unavailable + .available {
  //border-right: 1px solid white;
}
.employeeRow{
  display: flex;
}
