<div style="display: flex">
    <div class="card" style="width: 130px; margin-right:10px">
        <div class="card-body" style="padding: 5px">
            <h6 class="card-title" style="text-align: center">2024</h6>
            <div class="row settingsContainer" style="width: 120px">
                @for (monthName of AppConstants.monthShortNames; track $index) {
                    <div class="col-4">
                        <button [class.active]="startMonthToView === $index"
                                (click)="onMonthChange($index)">{{ monthName }}
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card" style="width: 170px; margin-right:10px">
        <div class="card-body" style="padding: 5px">
            <h6 class="card-title" style="text-align: center">Months to view</h6>
            <div class="row settingsContainer" style="width: 160px">
                @for (monthsToView of AppConstants.NoOfMonthsToView; track monthsToView) {
                    <div class="col-2">
                        <button [class.active]="noOfMonthsToView === monthsToView"
                                (click)="onNoOfMonthsToViewChange(monthsToView)">{{ monthsToView }}
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="card" style="min-width: 200px; margin-right:10px">
        <div class="card-body" style="padding: 5px">
            <h6 class="card-title" style="min-width: 190px; text-align: center">My Pods</h6>
            <div class="row settingsContainer">
                <div class="col-12">
                    <select (change)="onMyPodChanged($event)">
                        @for (pod of myPods; track pod) {
                            <option value="{{pod.entityId.uuid}}">{{ pod.podName }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="min-width: 290px; margin-right:10px">
        <div class="card-body" style="padding: 5px">
            <h6 class="card-title" style="min-width: 280px; text-align: center">Assigned Pods</h6>
            <div class="row settingsContainer">
                <div class="col-12">
                    @for (pod of relatedPods; track pod) {
                        <div style="display:flex;cursor: pointer" (click)="onSelectRelatedPod(pod)">
                            <div class="cell day weekDay" style="margin-right: 10px;" >
                                <div style='height:100%;width:100%;'
                                     class='{{pod.podStyleClass}}'
                                     title='{{pod.podName}}'></div>
                            </div>
                            <div style="margin-right: 10px; position: relative">{{ pod.podName }}
                                @if (pod.podName !== pod.podShortName) {
                                    ({{ pod.podShortName }})
                                }
                                @if (pod.podName === selectedPodToAssign?.podName) {
                                    <!--div style="font-style: italic; font-size: 9px">selected</div-->
                                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                                }
                            </div>


                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="min-width: 200px; margin-right:10px">
        <div class="card-body" style="padding: 5px">
            <h6 class="card-title" style="min-width: 190px; text-align: center">Availability</h6>
            <div class="row settingsContainer">
                <div class="col-12">
                    @for (at of availabilityTypes; track $index) {
                        <div style="display:flex;cursor: pointer" (click)="onSelectAvailabilityType(at)">
                            <div class="cell day weekDay" style="margin-right: 10px;" >
                                <div style='height:100%;width:100%;'
                                     class='{{at}}'
                                     title='{{at}}'></div>
                            </div>
                            <div style="margin-right: 10px;position: relative">{{ at }}
                                @if (at === selectedAvailabilityType) {
                                    <!--div style="font-style: italic; font-size: 9px">selected</div-->
                                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="min-width: 250px; margin-right:10px">
        <div class="card-body" style="padding: 5px">
            <h6 class="card-title" style="min-width: 240px; text-align: center">Pod Member Roles</h6>
            <div class="row settingsContainer">
                <div class="col-12">
                    <!--@for (key of relatedPodMemberRoles(); track $index) {
                        <div style="display:flex;">
                            <div class="cell" style="margin-right: 10px;" >
                                <div class="podMemberRole {{key}}">{{getPodMemberRoleValue(key)}}</div>
                            </div>
                            <div style="margin-right: 10px;">{{ key }}
                            </div>
                        </div>
                    }-->
                    @for (key of getPodMemberRoleKeysTemp(); track $index) {
                        <div style="display:flex;">
                            <div class="cell" style="margin-right: 10px;" >
                                <div class="podMemberRole {{key}}">{{getPodMemberRoleValue(key)}}</div>
                            </div>
                            <div style="margin-right: 10px;">{{ key }}
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>