.settingsContainer {
  font-family: CircularStd, sans-serif;
  font-size: 0.8rem;
  //width:120px;
  button {
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid grey;
  }
  button:hover,button:active,button:focus, .active {
    background-color: darkgray;
  }
}
