<div id="viewingUserBox" class="viewingUserBox" >

    <div id="viewingUser" style="display:flex;align-items:center;">
        You are viewing as:

        <div id="viewingUserSelected" style="display:flex;align-items:center;">


            <img src="./assets/users/user-0.jpg"
                 style="height: 40px; width: 40px; object-fit: contain;border-radius:50%;margin-left:20px;margin-right:10px;"
            alt="Orij Michel">
            <div><b>Orij Michel (VP)</b><BR>
                A409361, MDEJ13</div>

        </div>


    </div>

    <button type="submit" class="btn btn-primary">Switch User</button>

</div>