<div class="card" style="width: 100rem;">
  <div class="card-body">
    <h5 class="card-title">Help me</h5>

    <p class="card-text">Read more</p>

    <div class="mb-3">
      <a href="https://next.angular.dev/overview"  target="_blank">Angular Docs: Default input</a>
    </div>

    <div class="mb-3">
      <a href="https://en.wikipedia.org/wiki/Numeric_character_reference"  target="_blank">Numeric character reference</a>
    </div>

    <div class="mb-3">
      <a href="https://www.typescriptlang.org/docs/handbook/typescript-from-scratch.html"  target="_blank">Typescript Docs</a>
    </div>

    <div class="mb-3">
      <a href="https://material.angular.io/"  target="_blank">Angular Material</a>
    </div>

    <div class="mb-3">
      <a href="https://medium.com/poka-techblog/simplify-your-javascript-use-some-and-find-f9fb9826ddfd"
         target="_blank">Simplify your JavaScript – Use .some() and .find()</a>
    </div>

    <div class="mb-3">
      <a href="https://angular.dev/guide/defer"
         target="_blank">Angular Performance - Defer</a>
    </div>

    <div class="mb-3">
      <a href="https://angular.dev/tools/cli/deployment"
         target="_blank">Angular Deployment</a>
    </div>



    <br>


  </div>
</div>

