/*.NONE {
  background-color: #beb6ed;
}
.BEGINNER {
  background-color: #9092e7;
}
.INTERMEDIATE_WORKING {
  background-color: #7674fa;
}
.ADVANCED_PRACTITIONER {
  background-color: #283fb9;
}
.EXPERT_SME {
  background-color: #002fa7;
}*/
/*.NONE {
  background-color: #E6E6E6;
}
.BEGINNER {
  background-color: #beb6ed;
}
.INTERMEDIATE_WORKING {
  background-color: #9092e7;
}
.ADVANCED_PRACTITIONER {
  background-color: #7674fa;
}
.EXPERT_SME {
  background-color: #283fb9;
}*/
.NONE {
  background-color: #E6E6E6;
}
.BEGINNER {
  background-color: #beb6ed;
}
.INTERMEDIATE_WORKING {
  background-color: #9092e7;
}
.ADVANCED_PRACTITIONER {
  background-color: #7674fa;
}
.EXPERT_SME {
  background-color: #283fb9;
}
