/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  //background: radial-gradient(circle at top left, #181023, #0b0519);
  //color: #c3b3d8;
  //color: whitesmoke;
  /*margin: 0;
  padding: 0;
  height: 100%;*/
}


.podStyleClass1 {
  background-color: #00898D;
  /*border-left: 1px solid #00898D;
  border-right: 1px solid #00898D;*/
}

.podStyleClass2 {
  background-color: #a94c4c;
  /*border-left: 1px solid #CDD760;
  border-right: 1px solid #CDD760;*/
}

.podStyleClass3 {
  background-color: #009BD2;
  /*border-left: 1px solid #009BD2;
  border-right: 1px solid #009BD2;*/
}



.cell {
  border: 1px solid white;
}

.day {
  width: 20px;
  height: 20px;
  display: flex;
}


.weekEnd {
  background-color: gray;
}
.weekDay {
  background-color: silver;
}


.ABSENT {
  background-color: gray;
  background-image: linear-gradient(135deg, #ffffff 4.55%, gray 4.55%, gray 50%, #ffffff 50%, #ffffff 54.55%, gray 54.55%, gray 100%);
  background-size: 5px 5px;
}
.PUBLIC_HOLIDAY {
  background-color: gray;
}
.AVAILABLE {
  background-color: silver;
}

.podMemberRole {
  display:inline-flex;
  font-size:8px;
  width:20px;
  height:16px;
  border:1px solid;
  align-items:center;
  justify-content: center;
  margin-right:5px;
}

.podMemberRole.JAVA_DEVELOPER {
  background-color:palegreen;
  border-color:springgreen;

}
.podMemberRole.NET_DEVELOPER {
  background-color:#FFFF99;
  border-color:yellow;
}
.podMemberRole.POD_LEAD {
  background-color:#d896ff;
  border-color:#be29ec;
}
.podMemberRole.BUSINESS_ANALYSTS {
  background-color:#f8f3c2;
  border-color:#e1d4a2;
}
.podMemberRole.SOLUTIONS_ARCHITECT {
  background-color:#a7b700;
  border-color:#d8e20c;
}
.podMemberRole.LEAD_DEVELOPER {
  background-color:#d8edfe;
  border-color:#acbdcb;
}
.podMemberRole.TESTER {
  background-color:#2beac9;
  border-color:#85f2ff;
}
.podMemberRole.PRODUCT_OWNER {
  background-color:#7fb685;
  border-color:#426a5a;
}
.podMemberRole.UI_UX {
  background-color:	#827eae;
  border-color:#d1c7e6;
}
